{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "only": ["src/", "test/"]
}
